
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    flex-wrap: wrap;
}
ul{
    display: flex;
    list-style:none;
    margin:5px ;
    
}
li{
    margin-right:15px ;
    color: black; 
}
.link{
    text-decoration: none;

}

.logout{
    margin-right:5px;
    font-size: 20px;
    width: 75px;
}
.nav-items{
    margin-right:50px;
    margin-top: 20px;
    font-size: 20px;
}

.logo{
    height: 100px;
}
.cart{
    height: 100%; 
    width: 200px;
    word-wrap: break-word;
    text-align: left;
    padding: 2px;
    margin: 5px;
    justify-content: space-around;
    border: 0.5 solid black;
    background-color: rgb(240, 237, 244);
}
.cart:hover{
   cursor: pointer;
}
.cart-details{
    font-size: 15px;
    margin: 5px 15px;
}
.cart-image{
    display: flex;
    margin: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cart-container{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color:black
}
.filter{
    margin: 10px;
}
.filter-btn{
    margin: 2px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.shimmer{
    height: 200px;
    width: 200px;
    background-color: rgb(228, 228, 234);
    padding: 2px;
    margin: 5px;
}
.hoc-container{
    position: absolute;
    margin: 5px;
    background-color: brown;
    font-size: large;
    border-radius: 10%;
    padding-left: 4px;
}

.accordion{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.accordion-title{
    display:flex ;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordian-body{
    background-color: rgb(236, 233, 233);
}
.accordion-item{
    background-color: rgb(177, 175, 175);
    box-shadow: 5px 5px  5px rgb(187, 187, 187);
    margin: 10px;
}
.list-items{
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.list-items-image{
    width: 100px;
    height: 100px;
}